old/
build/
dist/
src/
__pycache__/
.vscode/
noScribeEdit/*
!noScribeEdit/readme.txt

*.code-workspace
auto-py-to-exe*.*
tmp*.*
*.exe
nsis_tmp.nsi
ggml*.bin
ROADMAP.md
whisper_test.py

models/precise/*
!models/precise/NOSCRIBE_README.txt
models/fast/*
!models/fast/NOSCRIBE_README.txt

.DS_Store
stuff/
output/
for_noScribe/
_internal
diarize
diarize_arm64
diarize_x86_64
diarize_x86_64_amia
diarize_x86_64_gernophil
diarize_x86_64_gernophil_unsigned
diarize_x86_64_mod
diarize_x86_64_mod_unsigned

.python-version
/pyinstaller/win_installer
