[submodule "models/faster-whisper-large-v2"]
	path = models/faster-whisper-large-v2
	url = https://huggingface.co/guillaumekln/faster-whisper-large-v2
[submodule "models/faster-whisper-small"]
	path = models/faster-whisper-small
	url = https://huggingface.co/guillaumekln/faster-whisper-small
