# Install with `pip install -r requirements_macOS_x86_64.txt`
AdvancedHTMLParser
appdirs
customtkinter
CTkToolTip
faster-whisper
Pillow
numpy==1.26.4
torch==2.2.2
torchaudio==2.2.2
pyannote.audio>=4
pyinstaller
pyobjc
python-i18n
PyYAML
