absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.4
altgraph==0.17.3
ansicon==1.89.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
arrow==1.2.3
asteroid-filterbanks==0.4.0
astor==0.8.1
async-timeout==4.0.2
attrdict==2.0.1
attrs==23.1.0
audioread==3.0.0
auto-py-to-exe==2.34.0
Babel==2.12.1
backports.cached-property==1.0.2
bce-python-sdk==0.8.83
bcrypt==4.0.1
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.0.9
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cmaes==0.9.1
colorama==0.4.6
colored==1.4.4
coloredlogs==15.0.1
colorlog==6.7.0
commonmark==0.9.1
comtypes==1.1.14
contourpy==1.0.7
croniter==1.3.14
cryptography==40.0.2
cssselect==1.2.0
cssutils==2.6.0
customtkinter==5.1.2
cx-Freeze==6.14.9
cx-Logging==3.1.0
cycler==0.11.0
Cython==0.29.34
darkdetect==0.8.0
dateutils==0.6.12
decorator==5.1.1
deepdiff==6.3.0
deprecation==2.1.0
docopt==0.6.2
Eel==0.16.0
einops==0.6.1
elevate==0.1.3
et-xmlfile==1.1.0
fastapi==0.88.0
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.12.0
fire==0.5.0
Flask==2.3.2
flask-babel==3.1.0
flet==0.5.2
flet-core==0.5.2
fonttools==4.39.3
freetype-py==2.3.0
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
geventhttpclient==2.0.2
Gooey==1.0.8.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
gradio==3.11.0
greenlet==2.0.2
grpcio==1.54.0
h11==0.12.0
hmmlearn==0.2.8
httpcore==0.15.0
httpx==0.23.3
huggingface-hub==0.13.4
humanfriendly==10.0
HyperPyYAML==1.2.0
idna==3.4
imageio==2.28.1
img2pdf==0.4.4
imgaug==0.4.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
inquirer==3.1.3
itsdangerous==2.1.2
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
julius==0.2.7
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.9.2
lief==0.13.0
lightning==2.0.2
lightning-cloud==0.5.34
lightning-fabric==2.0.2
lightning-utilities==0.8.0
linkify-it-py==2.0.2
llvmlite==0.39.1
lmdb==1.4.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.5
mdurl==0.1.2
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
mutagen==1.46.0
names==0.3.0
networkx==2.8.8
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
ocrmypdf==14.1.0
omegaconf==2.3.0
onnx==1.14.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
optuna==3.1.1
ordered-set==4.1.0
orjson==3.8.12
packaging==23.1
# paddle-bfloat==0.1.7
# paddle2onnx==1.0.6
# paddleocr==2.6.1.3
# paddlepaddle==2.4.2
pandas==2.0.0
paramiko==3.1.0
pdf2docx==0.5.6
pdfminer.six==20221105
pefile==2023.2.7
pikepdf==7.2.0
Pillow==9.5.0
platformdirs==3.3.0
pluggy==1.0.0
pooch==1.7.0
premailer==3.10.0
primePy==1.3
protobuf
psutil==5.9.5
pyannote.audio @ git+https://github.com/kaixxx/pyannote-audio.git@5c24815a14e6a5c62a71d5962bf3f8fa09abae0f
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pycairo==1.23.0
pyclipper==1.3.0.post4
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.7
pyDeprecate==0.3.2
pydub==0.25.1
Pygments==2.15.1
pygtrie==2.5.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyJWT==2.6.0
PyMuPDF==1.20.2
PyNaCl==1.5.0
pyparsing==3.0.9
pypiwin32==223
pyreadline3==3.4.1
pyshorteners==1.0.1
pytesseract==0.3.10
python-dateutil==2.8.2
-e git+https://github.com/kaixxx/python-docx@2be110a1f513f8420b86aba6482269bb701f35ff#egg=python_docx
python-editor==1.0.4
python-i18n==0.3.9
python-multipart==0.0.6
python-rapidjson==1.10
pytorch-lightning
pytorch-metric-learning==2.1.0
pyttsx3==2.90
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==6.0
rapidfuzz==3.0.0
rarfile==4.0
readchar==4.0.5
regex==2023.3.23
repath==0.9.0
reportlab==4.0.0
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rich==12.6.0
rlPyCairo==0.2.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
# scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
semver==3.0.0
sentencepiece==0.1.98
shapely==2.0.1
shellingham==1.5.0.post1
simplejson==3.19.1
singledispatchmethod==1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
speechbrain==0.5.14
SpeechRecognition==3.10.0
SQLAlchemy==2.0.10
starlette==0.22.0
starsessions==1.3.0
static-ffmpeg==2.5
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.13.3
torch==2.0.0
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.0.1
torchmetrics==0.11.4
tqdm==4.65.0
traitlets==5.9.0
transcribe-anything # ==2.1.2
transformers==4.28.1
tritonclient==2.33.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.15
uvicorn==0.21.1
visualdl==2.5.2
watchdog==2.3.1
wcwidth==0.2.6
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.3.4
whichcraft==0.6.1
whisper==1.1.10
whisper.ai==1.0.0.1
wxPython==4.2.0
x2paddle==1.4.1
yarl==1.9.2
yt-dlp==2023.3.4
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
