# Install with `pip install -r requirements_macOS.txt`
AdvancedHTMLParser
appdirs
customtkinter
faster-whisper
Pillow
pyannote.audio @ git+https://github.com/kaixxx/pyannote-audio.git
pyinstaller
pyobjc
python-i18n
PyYAML
