# Install with `pip install -r requirements_macOS_arm64.txt`
# torch==2.8 # pyannote 4 is currently not compatible with torch 2.9; torch version is set by torchaudio
torchaudio==2.8
AdvancedHTMLParser
appdirs
customtkinter
CTkToolTip
faster-whisper
omegaconf
Pillow
pyannote.audio>=4
pyinstaller
pyobjc
python-i18n
PyYAML
