# Install with `pip install -r requirements_linux.txt`
# torchaudio # install as dependency
AdvancedHTMLParser
appdirs
customtkinter
faster-whisper
Pillow
pyannote.audio>=3.3.2
pyinstaller
python-i18n
PyYAML
