# Install with `pip install -r requirements_linux.txt`
AdvancedHTMLParser
appdirs
customtkinter
elevate
faster-whisper
Pillow
pyannote.audio @ git+https://github.com/kaixxx/pyannote-audio.git
pyinstaller
python-i18n
PyYAML
