# for CPU:
torchaudio
# for CUDA 12.1:
# torchaudio --index-url https://download.pytorch.org/whl/cu121 
AdvancedHTMLParser
appdirs
cpufeature
customtkinter
faster-whisper
Pillow
pyannote.audio>=3.3.2
pyinstaller
python-i18n
PyYAML
