# First install torchaudio with `pip install torchaudio --index-url https://download.pytorch.org/whl/cu121`
# Second install the rest with `pip install -r requirements_win.txt`
AdvancedHTMLParser
appdirs
cpufeature
customtkinter
faster-whisper
Pillow
pyannote.audio @ git+https://github.com/kaixxx/pyannote-audio.git
pyinstaller
python-i18n
PyYAML
speechbrain==0.5.16 # incompatible with newer speechbrain versions
